@font-face {
  font-family: "Another Typewriter"; /* This is the name you'll use to reference the font */
  src: url("./fonts/atwriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  background: #ecececff;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Another Typewriter", monospace;
}

.section {
  padding-top: 100px;
}
.section-title {
  font-size: 60px;
  font-weight: bold;
  color: black;
}

.section-title span {
  background-color: rgb(164, 160, 228);
}

.crash-section {
  font-weight: 700;
  text-align: left;
  max-width: 600px;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 100px;
}
.crash-title {
  font-size: 200px;
  margin: 0;
  line-height: 1;
}
.crash-subtitle {
  font-size: 24px;
  margin: 0;
  line-height: 1.5;
}

.crash-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  margin-top: auto;
  padding-bottom: 20px;
  outline: none;
}

.crash-button {
  background-color: rgb(164, 160, 228);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Another Typewriter", monospace;
  border: none;
}

.herd-is {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Results Box */
.herd-is-box {
  border: 2px solid rgb(52, 32, 77);
  /* border-radius: 10px; */
  display: inline-block;
  font-size: 24px;
  padding: 20px;
  margin: 20px;
  width: 26%;
  height: 100%;
  max-width: 600px;
}

#container {
  display: flex;
  height: 100%;
}

#left-section {
  color: black;
  width: 83%;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

#logo-and-title {
  display: flex;
  width: 100%;
  height: 150px;
}

#logo-container {
  position: relative;
  width: 25%;
  height: 25%;
  min-width: 200px;
  min-height: 200px;
  align-self: center; Align the logo to the top left
  margin-bottom: 20px; /* Add space below the logo */
}

#outer-logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: spin 45s linear infinite;
}

/* Make sure the inner logo stays static */
#inner-logo img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  transform-origin: center;
  z-index: 2; /* Ensure inner logo stays on top */
}

#right-section {
  background-color: rgb(52, 32, 77);
  width: 17%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  padding: 20px; /* Add some spacing */
}
#nav-container {
  padding-top: 50px; /* Add space above the navigation */
  align-self: flex-end;
  margin-right: 25px;
}

#navigation ul {
  list-style-type: none; /* This removes the bullet points */
  padding: 0;
  margin: 0;
  text-align: right;
}

#navigation ul li a {
  color: rgb(164, 160, 228);
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

/* Underline effect for hover */
#navigation ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(0);
}

/* Show light underline on hover */
#navigation ul li a:hover::after {
  transform: scaleX(1);
}

/* Active page styling */
#navigation ul li a.active {
  text-decoration: underline;
  text-underline-offset: 8px; /* Adjust this value to control distance of underline from text */
  text-decoration-thickness: 2px; /* Adjust thickness of the underline */
}

/* Remove hover effect on active link */
#navigation ul li a.active::after {
  display: none;
}

/* Add this to your existing styles.css */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#social-container {
  display: flex;
  width: 100%;
  justify-content: center; /* Align icons to the right */
  gap: 10px;
  margin-top: 20px;
  margin-top: auto;
  padding-bottom: 20px;
}

.social-link {
  display: inline-block;
  width: 40px; /* Set the size of the icons */
  height: 40px;
}

.social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure icons maintain their aspect ratio */
  transition: transform 0.3s ease; /* Add hover effect for icons */
}

.social-link:hover .social-icon {
  transform: scale(1.2); /* Enlarge icon on hover */
}
